<form action="/game" method="post">
  <div class="form-group">
    <label class="form-label" for="num_players">How many players?</label>
    <select>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <button type="submit" class="btn btn-xs btn-success"><i class="fa fa-rocket"></i> Go!</button>  
</form>
