<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link href='http://fonts.googleapis.com/css?family=Lato|Merriweather:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/css/styles.css'>
  <title>Band Tracker</title>
</head>
<body>
  <div class="container">
    <header>
      <a href="/bands">Bands</a> | <a href="/venues">Venues</a>
      <h1>Band Tracker</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      
    </footer>
  </div>
</body>
</html>
