<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/css/styles.css'>
  <title>Go Fish</title>
</head>
<body>
  <div class="container">
    <header>
      <h1>Go Fish</h1>
    </header>
    <main>
      <%= yield %>
    </main>

    <footer>
      <a href="/reset" class="btn btn-xs btn-danger"> New Game </a>
    </footer>
  </div>

</body>
</html>
