<% next_player = Player.find(@game.player_id) %>
<% @game.players.each do |playa| %>
  <p><%= playa.name %>: <%= playa.score %></p>
<% end %>

<a href="/player/<%= next_player.player_num %>"><button name="button" class="btn btn-sm btn-success"><%= next_player.name %> Go!</button></a>
