body {
  background-color: #B5AACF;
  font-family: 'Lato', sans-serif;
}

header {
  height: auto;
  border-bottom: 1px dashed #BFA6CC;
  text-align: center;
}

footer {
  clear: both;
  height: auto;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px dashed #BFA6CC;
  text-align: right;
}

h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.cards li {
  display: inline;
  float: left;
}

.container {
  background-color: #FFE4CC;
  width: 50%;
  margin: 1em auto;
  padding: 15px;
  border: 3px solid gray;
  border-radius: 15px;
}

.form-group {
  margin-top: 20px;
}

.form-label {
  float: left;
  margin-right: 10px;
}

.form-control {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.oil_spill {
  width: 100%;
  height: 0px;
  background: black;
  z-index: 2;

  -webkit-animation: oil_spill 10s;
  -webkit-animation-fill-mode: forwards;
  animation: oil_spill 10s;
  animation-fil-mode: forwards;
}


@-webkit-keyframes oil_spill {
  from {height: 0px;}
  to {height: 300px;}
}

keyframes oil_spill {
  from {height: 0px;}
  to {height: 300px;}
}

.scared_fish {
  background-image: url("/img/scared_fish.jpg");
  height: 300px;
}

.cards img {
  height: 200px;
  width: 150px;
  margin: 5px;
}


/*.btn {
  display: inline;
  float: left;
  margin-top: 20px;
}*/


/*input, .form-control {
  border: 0;
  outline: 0;
  box-shadow: none !important;
  border-bottom: 1px solid #d0dad8;
  border-radius: 0px;
  background: transparent;
  display: inline-block;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border-bottom-color: #0e745c;
  box-shadow: 0 2px 1px -1px #d0dad8;
}





hr {
  opacity: 0;
  clear: both;
}*/
